@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f8fafc; 
    border-radius: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #818cf8; 
    border-radius: 8px;
    border: 3px solid #f8fafc;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6366f1; 
  }
}
